<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("partials/navbar.ejs") %>
      <h1>Profile</h1>
      <img class="avatar" src="/img/<%- currentUser.avatar_name %>" alt="" />
      <h5><%- currentUser.name %> <%- currentUser.surname %></h5>
    </div>
    <!-- JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
