<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("partials/navbar.ejs") %>
      <h1>Profile</h1>
      <div class="profile-block">
        <img class="avatar" src="/img/<%- user.avatar_name %>" alt="" />
        <h5><%- user.name %> <%- user.surname %></h5>
      </div>
      <hr />
      <div class="posts">
        <h1>Posts</h1>
        <% if (posts !== undefined) {posts.forEach(function(post) { %>
        <div class="post mt-3">
          <div class="control">
            <h5><%- post["title"] %></h5>
          </div>
          <p><%- post["body"] %></p>
        </div>
        <% })}; %>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
